/* You can add global styles to this file, and also import other style files */

body.modal-open {
overflow-y: auto !important;
padding-right: 0 !important;
}

.modal-scrollbar-measure {

overflow: hidden;
}