<app-menu></app-menu>
<div style='position:relative'>
    <img src='../assets/images/back.png' style='width: 100%;height:450px'>
    <div class="caption">

        <h1 style='font-weight:bold' class='title'>Brzo i lako pronađi kratke poslove u Kragujevcu</h1>

        <h6 class='subtitle'>Najbolja platforma za svakodnevne poslove. Izaberi oglas, uzmi kontakt i brzo zaradi novac. <br/> Bez registracije pronađi oglas za samo 2 minuta.</h6>
      
    </div>
    <img src='../assets/images/tabletFinal.png' class='imageRight' >
</div>
<div class='contactMail' style='background-color: #f2f2f2; width:100%; height:50px; text-align:center;padding-top:15px;'> Želiš da budeš upućen u naše vrhunske planove?
    <a  href='' data-toggle="modal" data-target="#exampleModal" >
Pogledaj ovde.</a>
</div>

<div>




<!-- MAIN PART -->


    <h2 style='color:#444444; margin-top:30px ' class='text-center'>Poslovi</h2>

    <!-- BIG SCREEN START -->
<div class='cardsBig'>
    <div class="d-flex flex-row">
        <div class="p-2 c1">
            <div style='text-align: center'>
                <img src='../assets/images/file.png' style='width:70px;margin-top:26%'>
                <p style='color:grey'>Dokumenti</p>
            </div>
        </div>
        <div class="p-2 c2">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">Prevođenje CV-a</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Pisanje dokumenata</h6>
                    <p class="card-text">Treba mi osoba koja ima dobro znanje poslovnog engleskog, kako bi mi prevela CV i motivaciono pismo. Hitno.</p>
                    <button type="button" class="btn btn-showJobs "  (click)='sendClick("1")' data-toggle="collapse" data-target="#contact1">Prikaži kontakt</button>
                    <div id="contact1" class="collapse phone" >
                        <i class="fa fa-phone" aria-hidden="true"></i> 0659211195
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 c3">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">Seminarski rad</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Pisanje dokumenata</h6>
                    <p class="card-text">Tražim osobu koja bi mi pomogla oko izrade seminarskog rada iz oblasti menadžmenta, do kraja nedelje.</p>
                    <button type="button" class="btn btn-showJobs " (click)='sendClick("2")' data-toggle="collapse" data-target="#contact2">Prikaži kontakt</button>
                    <div id="contact2" class="collapse phone"  >
                        <i class="fa fa-phone" aria-hidden="true"></i> 0659211195
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 c4">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">Prevođenje ugovora</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Biznis</h6>
                    <p class="card-text">Treba mi osoba koja ima dobro znanje poslovnog engleskog, kako bi mi prevela ugovor o radu. Hitno.</p>
                    <button type="button" class="btn btn-showJobs "  (click)='sendClick("3")' data-toggle="collapse" data-target="#contact3">Prikaži kontakt</button>
                    <div id="contact3" class="collapse phone">
                        <i class="fa fa-phone" aria-hidden="true"></i> 0659211195
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 c5"></div>
    </div>

    <div class="d-flex flex-row">
        <div class="p-2 c1">
            <div style='text-align: center'>
                <img src='../assets/images/cart.png' style='width:70px;margin-top:26%'>
                <p style='color:grey'>Kupovina</p>
            </div>
        </div>
        <div class="p-2 c2">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">Prevođenje ugovora</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Biznis</h6>
                    <p class="card-text">Treba mi osoba koja ima dobro znanje poslovnog engleskog, kako bi mi prevela ugovor o radu. Hitno.</p>
                    <button type="button" class="btn btn-showJobs "  (click)='sendClick("4")' data-toggle="collapse" data-target="#contact4">Prikaži kontakt</button>
                    <div id="contact4" class="collapse phone" >
                        <i class="fa fa-phone" aria-hidden="true"></i> 0659211195
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 c3">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">Prevođenje ugovora</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Biznis</h6>
                    <p class="card-text">Treba mi osoba koja ima dobro znanje poslovnog engleskog, kako bi mi prevela ugovor o radu. Hitno.</p>
                    <button type="button" class="btn btn-showJobs"  (click)='sendClick("5")' data-toggle="collapse" data-target="#contact5">Prikaži kontakt</button>
                    <div id="contact5" class="collapse phone" >
                        <i class="fa fa-phone" aria-hidden="true"></i> 0659211195
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 c4">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title">Prevođenje ugovora</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Biznis</h6>
                    <p class="card-text">Treba mi osoba koja ima dobro znanje poslovnog engleskog, kako bi mi prevela ugovor o radu. Hitno.</p>
                    <button type="button" class="btn btn-showJobs text-center" (click)='sendClick("6")' data-toggle="collapse" data-target="#contact6">Prikaži kontakt</button>
                    <div id="contact6" class="collapse phone">
                        <i class="fa fa-phone" aria-hidden="true"></i> 0659211195
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 c5"></div>
    </div>
</div>


<!-- BIG SCREEN END -->

<div class='cardsSmall' >
<div class="col-sm-12" style="margin: auto">
    <div class="card" style='height:auto' >
                <div class="card-body">
                    <h5 class="card-title">Prevođenje ugovora</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Biznis</h6>
                    <p class="card-text">Treba mi osoba koja ima dobro znanje poslovnog engleskog, kako bi mi prevela ugovor o radu. Hitno.</p>
                    <button type="button" class="btn btn-showJobs text-center"  (click)='sendClick("1")' data-toggle="collapse" data-target="#contact11">Prikaži kontakt</button>
                    <div id="contact11" class="collapse phone">
                        <i class="fa fa-phone" aria-hidden="true"></i> 0659211195
                    </div>
                </div>
            </div>
</div>
<div class="col-sm-12" style="margin: auto">
    <div class="card" style='height:auto' >
                <div class="card-body">
                    <h5 class="card-title">Prevođenje ugovora</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Biznis</h6>
                    <p class="card-text">Treba mi osoba koja ima dobro znanje poslovnog engleskog, kako bi mi prevela ugovor o radu. Hitno.</p>
                    <button type="button" class="btn btn-showJobs text-center" (click)='sendClick("2")'  data-toggle="collapse" data-target="#contact12">Prikaži kontakt</button>
                    <div id="contact12" class="collapse phone">
                        <i class="fa fa-phone" aria-hidden="true"></i> 0659211195
                    </div>
                </div>
            </div>
</div>
<div class="col-sm-12" style="margin: auto">
    <div class="card" style='height:auto' >
                <div class="card-body">
                    <h5 class="card-title">Prevođenje ugovora</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Biznis</h6>
                    <p class="card-text">Treba mi osoba koja ima dobro znanje poslovnog engleskog, kako bi mi prevela ugovor o radu. Hitno.</p>
                    <button type="button" class="btn btn-showJobs text-center" (click)='sendClick("3")' data-toggle="collapse" data-target="#contact13">Prikaži kontakt</button>
                    <div id="contact13" class="collapse phone">
                        <i class="fa fa-phone" aria-hidden="true"></i> 0659211195
                    </div>
                </div>
            </div>
</div>
<div class="col-sm-12" style="margin: auto">
    <div class="card" style='height:auto' >
                <div class="card-body">
                    <h5 class="card-title">Prevođenje ugovora</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Biznis</h6>
                    <p class="card-text">Treba mi osoba koja ima dobro znanje poslovnog engleskog, kako bi mi prevela ugovor o radu. Hitno.</p>
                    <button type="button" class="btn btn-showJobs text-center" (click)='sendClick("4")' data-toggle="collapse" data-target="#contact14">Prikaži kontakt</button>
                    <div id="contact14" class="collapse phone">
                        <i class="fa fa-phone" aria-hidden="true"></i> 0659211195
                    </div>
                </div>
            </div>
</div>
<div class="col-sm-12" style="margin: auto">
    <div class="card" style='height:auto' >
                <div class="card-body">
                    <h5 class="card-title">Prevođenje ugovora</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Biznis</h6>
                    <p class="card-text">Treba mi osoba koja ima dobro znanje poslovnog engleskog, kako bi mi prevela ugovor o radu. Hitno.</p>
                    <button type="button" class="btn btn-showJobs text-center"  (click)='sendClick("5")' data-toggle="collapse" data-target="#contact15">Prikaži kontakt</button>
                    <div id="contact15" class="collapse phone">
                        <i class="fa fa-phone" aria-hidden="true"></i> 0659211195
                    </div>
                </div>
            </div>
</div>
<div class="col-sm-12" style="margin: auto">
    <div class="card" style='height:auto' >
                <div class="card-body">
                    <h5 class="card-title">Prevođenje ugovora</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Biznis</h6>
                    <p class="card-text">Treba mi osoba koja ima dobro znanje poslovnog engleskog, kako bi mi prevela ugovor o radu. Hitno.</p>
                    <button type="button" class="btn btn-showJobs text-center"  (click)='sendClick("6")' data-toggle="collapse" data-target="#contact16">Prikaži kontakt</button>
                    <div id="contact16" class="collapse phone">
                        <i class="fa fa-phone" aria-hidden="true"></i> 0659211195
                    </div>
                </div>
            </div>
</div>
</div>


<!-- SMALL SCREEN START -->



<!-- SMALL SCREEN END -->


    <br/>
    <br/>
    <br/>

    <app-footer></app-footer>




    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
          <div class='row'>
              <div class='col-sm-4'>
                <img src="../assets/images/phone.png" class="img-responsive" style='width:100%'>
              </div>
              <div class='col-sm-8' style='color:#666666'>
                  <h4 style='color:#666666'>Jobbly</h4>
                  Jobbly je startup koji zeli da ti olaksa trazenje svakodnevnih poslova, kao i da ti pruzi mogucnost da brzo nadjes ljude koji ce ti pomoci da obavis svoje svakodnevne poslove. 
<br>Kako bi to uradili na nacin koji je najbolji za tebe, planiramo da realizujemo ove cool funkcionalnosti:
<br><br>
<i class="fa fa-check" aria-hidden="true" style='color:limegreen'></i> Platforma na kojoj ti možeš da postaviš oglase i da lako nađeš druge poslove
<br>
<i class="fa fa-check" aria-hidden="true" style='color:limegreen'></i> Mogucnost da vas informisemo o poslovima koji vas zanimaju 
<br>
<i class="fa fa-check" aria-hidden="true" style='color:limegreen'></i> Instant notifikacije o oglasima koji su u skladu sa vasim interesovanjima i lokacijom
<br>
<i class="fa fa-check" aria-hidden="true" style='color:limegreen'></i> Sistem za ocenjivanje korisnika radi vece pouzdanosti 
<br>
<i class="fa fa-check" aria-hidden="true" style='color:limegreen'></i> Jobbly mobilna aplikacija

<br>
<br>
 <b>Želiš da se prijaviš kako bi bio informisan o daljem razvoju aplikacije?</b>
<br>
<br>
<div class=" col-sm-12" style='margin-top: -20px;' >
  
  <div class="form-group ">
    <input type="email" class="form-control inputt" id="emailsend" placeholder="Email adresa" required="required"  >
  </div>
  <button class="btn btn-Send"  (click)='sendEmail()' >Pošalji</button>
</div> 
              </div>
          </div>
        
        
      </div>
      
    </div>
  </div>
</div>


